<div class="row-fluid">

	<div class="span4 center box-active">

		<h4 class="alert">Cadastre seu produtos</h4>
		<%= image_tag("/imgs/products.png", class: "img-polaroid margin")%>
		<p class="margin">
			Insira os dados sobre seus produtos como nome, valor de custo, 
			valor de venda e quantidade para ter total controle 	sobre seu estoque.
		</p>
	</div>

	<div class="span4 center box-active border-sides">

		<h4 class="alert">Registre as entradas e saídas</h4>
		<%= image_tag("/imgs/in_out.png", class: "img-polaroid margin")%>
		<p class="margin">
			Registre suas vendas, compras e despesas, no momento em que elas acontece. E tenha total domínio sobre o fluxo do seu dinheiro.
		</p>

	</div>

	<div class="span4 center box-active">

		<h4 class="alert">Acompanhe o fluxo do seu Caixa</h4>
		<%= image_tag("/imgs/reports.png", class: "img-polaroid margin") %> 
		<p class="margin">
			Visualize e gerencie toda movimentação de dinheiro presente no seu caixa, com gráficos e informações que agregam valor ao seu negócio, há qualquer lugar e momento.
		</p>

	</div>

</div>
