<div class="row-fluid">

	<div class="span4 center border">

		<h4 class="box-title-active">Cadastre seu produtos</h4>
		<%= image_tag("/imgs/products.png", class: "img-polaroid margin")%>
		<p>
			Cadastre seu produtos com o nome, valor de custo, valor de venda e quantide
			para ter total controle sobre seu estoque.
			<strong>Melhorar Texto</strong>
		</p>
	</div>

	<div class="span4 center border">

		<h4 class="box-title-active">Registre as entradas e saídas</h4>
		<%= image_tag("/imgs/in_out.png", class: "img-polaroid margin")%>
		<p>
			Registre as vendas, compras e despesas para observação a quantide de dinheiro entrante e os saintes.<br>
			<strong>Melhorar Texto</strong>
		</p>

	</div>

	<div class="span4 center border">

		<h4 class="box-title-active">Acompanhe o fluxo do seu Caixa</h4>
		<%= image_tag("/imgs/reports.png", class: "img-polaroid margin") %>
		<p>
			Visualize todas a movimentação de dinheiro presente no seu caixa de maneira fácil e de qualquer lugar.<br>
			<strong>Melhorar Texto</strong>
		</p>

	</div>

</div>
