<div class="padding white">

  <div class="row-fluid">
		<div class="box-title-add">
			<h2 class="center"> <%= t 'title.add_product' %> </h2>
		</div>
	</div>

	<!-- BEGIN BLOCK FORM COMPANY -->
  <div class="box-create-product">

    <fieldset>
      <legend class="span12 alert alert-success"><%= t'product.new.title' %></legend>

			<%= render 'form' %>

			<div class="form-actions"> 
				<%= link_to t('links.back'), products_path %>
			</div>

		</fieldset>

	</div>

</div>
