<div class="container-fluid back-image">

  <div class="row-fluid ">

    <div class="span12 box-marketing">
      <div class="jumbotron center">
        <h1>sistema para Controle de Caixa de modo:</h1>
        <p class="lead">seguro, eficiente, simples e objetivo.</p>
        <a class="btn btn-large btn-warning margin" href="#">Cadastre jรก</a>
      </div>
    </div>

  </div><!-- /row -->

</div> <!-- /container -->