<div class="container-fluid back-image">

  <div class="row-fluid ">

    <div class="span12 box-marketing ">
      <div class="jumbotron center">
        <h1><%= t'text.marketing_title' %></h1>
        <p class="lead"><%= t'text.marketing_subtitle' %></p>
        <%= link_to t('button.registre_admin_now'), new_admin_registration_path, class: "btn btn-large btn-warning margin" %>
      </div>
    </div>

  </div><!-- /row -->

</div> <!-- /container -->